.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.App * {
  outline: 1px solid black;
  outline-offset: -1px;
  line-height: 220%;
  user-select: none;
}

.calc-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 60vh;
  box-sizing: border-box;
  outline: 0px;
  font-size: 6.8vh;
}

.calc-main {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.calc-value {
  color: white;
  height: 100%;
  background-color: rgb(56, 56, 56);
  text-align: right;
  padding-right: 10px;
  line-height: 220%;
}

.calc-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  background-color: rgb(253, 221, 221);
}

.calc-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(255, 148, 148);
  width: 100%;
}

.calc-operator {
  width: 100%;
}

.calc-operator:hover {
  border-radius: 200px;
  background-color: rgb(255, 194, 194);
  cursor: pointer;
}

.calc-left {
  display: grid;
  grid-template-rows: 1fr 4fr;
  background-color: rgb(181, 218, 181);
}

.calc-clear {
  line-height: 220%;
}

.calc-numbers {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.calc-number {
  overflow: hidden;
}

.calc-number:hover,
.calc-clear:hover {
  border-radius: 200px;
  background-color: rgb(194, 255, 194);
  cursor: pointer;
}
